/******************************************************************
Site Name: 
Author: 

Stylesheet: 

******************************************************************/

/*********************
GENERAL STYLES
*********************/



/*********************
LAYOUT & GRID STYLES
*********************/

.action {
	min-height:9.2em;
}

/*********************
TYPE
*********************/

h1 {
}

h2 {
	font-size:2em;
	margin-bottom:1em;
}

/*********************
HEADER STYLES
*********************/


	
/*********************
LOGO STYLES
*********************/



/*********************
NAVIGATION STYLES
*********************/



/*********************
SIDEBARS & ASIDES
*********************/



/*********************
FOOTER STYLES
*********************/


	
/*********************
BUTTONS
*********************/

.button, .button:visited {
	margin-bottom:0;
}