/******************************************************************
Site Name: 
Author: 

Stylesheet: 

******************************************************************/

/*********************
GENERAL STYLES
*********************/



/*********************
LAYOUT & GRID STYLES
*********************/

.action {
//	min-height:7em;
}

/*********************
TYPE
*********************/
h1,.h1 {
	font-size:0.65em;
}

h2 {
	padding:0 10%;
}

body {
	font-size:20px;
}

/*********************
HEADER STYLES
*********************/


	
/*********************
LOGO STYLES
*********************/



/*********************
NAVIGATION STYLES
*********************/



/*********************
SIDEBARS & ASIDES
*********************/



/*********************
FOOTER STYLES
*********************/


	
/*********************
BUTTONS
*********************/
.button {
	font-size:75%;
}