/******************************************************************
Site Name: 
Author: 

Stylesheet: 

******************************************************************/

/*********************
GENERAL STYLES
*********************/



/*********************
LAYOUT & GRID STYLES
*********************/

.wrap {
	&.up1024 {
		padding-left:4%;
		padding-right:4%;
	}
}

//2 col - left wide, right side
.w66 {
	width:62.6%;
	float:left;
}

.w33 {
	width:33.3%;
	float:right;
}

.logo {
	float:left;
}

nav {
	float:right;
}

/*********************
TYPE
*********************/



/*********************
HEADER STYLES
*********************/


	
/*********************
LOGO STYLES
*********************/



/*********************
NAVIGATION STYLES
*********************/

//header {
	nav {

	}
//}

/*********************
SIDEBARS & ASIDES
*********************/



/*********************
FOOTER STYLES
*********************/


	
/*********************
TRANSITIONS
*********************/