/******************************************************************
Site Name: 
Author: 

Stylesheet: 

******************************************************************/

/*********************
GENERAL STYLES
*********************/



/*********************
LAYOUT & GRID STYLES
*********************/

.wrap, 	.wrap.up1024 {
	width:1262px;
	padding-left:0;
	padding-right:0;
}

/*********************
TYPE
*********************/

body {
	font-size:26px;
}

/*********************
HEADER STYLES
*********************/


	
/*********************
LOGO STYLES
*********************/



/*********************
NAVIGATION STYLES
*********************/



/*********************
SIDEBARS & ASIDES
*********************/



/*********************
FOOTER STYLES
*********************/


	
/*********************
TRANSITIONS
*********************/